.l-section__headline{
  font-family:'Courier New', Courier, monospace;
  font-size: 28px;
  font-weight:100;
}

.l-section__headlineEn op-enOswld{
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
  font-weight: 100;
}
